.sp-align-control {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	gap: 4px;
	padding: 4px;
	border: 1px solid #d0d5dd;
	border-radius: 3px;
	background: #fff;
}

.sp-align-control__btn {
	border: 0;
	background: transparent;
	padding: 6px;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	color: #757575;

	&.vertical-control-btn {
		svg {
			width: 32px;
			height: 22px;
		}
	}
	svg {
		width: 24px;
		height: 16px;
	}

	&:hover {
		background: #f2f4f7;
	}

	&.is-active {
		background: #f05d31;
		color: #fff !important;
	}
}
