.sp-typography-control {
	margin-bottom: 15px;
}

.sp-typography-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sp-typography-trigger {
	width: 32px;
	height: 32px;
	padding: 0;
	font-weight: 700;
	border-radius: 6px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp-typography-popover {
	width: 320px;
	padding: 12px;
}
