// inspector styles main block

// default style for inspectors panel opened
.components-panel__body.is-opened > .components-panel__body-title {
	&:hover {
		background-color: #f4ebff !important;
		button {
			color: #6f22dd !important;
		}
	}
	background-color: #f0f0f0 !important;
}

// fixing the reset icon backgorund and hover
.sp-reset-button-background-fix {
	&:hover {
		background: #efe6fb !important;
		color: #efe6fb !important;
	}
	color: #fff !important;
	box-shadow: none !important;
	padding: 0;
}
// default style for inspectors panel opened

// alignment toggle
.sp-toggle {
	display: flex;
	width: 100%;
	border: 1px solid #d0d5dd;
	border-radius: 3px;
	padding: 4px;
	background: #fff;
	gap: 4px;
	align-items: center;
	justify-content: space-between;
}

.sp-toggle__btn {
	width: 50%;
	border: 0;
	background: transparent;
	padding: 12px 16px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	color: #111;
	transition: background 0.3s ease-in-out;
	&:hover {
		background: #783ad009;
	}
}

.sp-toggle__btn.is-active {
	background: #f4ebff;
	color: #6f22dd;
	font-weight: 500;
}

// full width button toggler style

.full-width-button-label {
	font-size: 14px;
	font-weight: 500;
}

.full-width-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	margin-top: 15px;

	.components-toggle-control {
		margin-bottom: 0;
	}
	.components-form-toggle {
		transform: scale(1.2);
	}
	.components-form-toggle.is-checked {
		.components-form-toggle__track {
			background-color: #7f56d9;
		}
	}
	.components-form-toggle__track {
		background-color: #bbbbbb;
		padding: 1px;
	}
	.components-form-toggle__thumb {
		background-color: #ffffff;
		transform: scale(0.95);
	}
}
// full width button toggler style

// inspector styles main block end

.wp-block-sp-smart-buttons {
	display: flex;
	gap: 12px;
	width: 100%;

	// button gap styles

	.block-editor-inner-blocks {
		.block-editor-block-list__layout {
			gap: var(--sp-button-gap);
		}
	}

	// button gap styles

	/* child button */
	.sp-single-button {
		display: inline-flex;
	}

	.block-editor-inner-blocks {
		width: 100%;
		margin: var(--sp-margin-top) var(--sp-margin-right) var(--sp-margin-bottom)
			var(--sp-margin-left);
	}
	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&.has-full-width-buttons {
		.block-editor-block-list__layout {
			.block-editor-block-list__block {
				width: 100%;
				.sp-smart-button {
					width: 100%;
				}
			}
		}
	}

	// horizontal alignment
	&.is-horizontal {
		flex-direction: row;

		&.align-start {
			.block-editor-block-list__layout {
				justify-content: start;
			}
		}
		&.align-horizontal-center {
			.block-editor-block-list__layout {
				justify-content: center;
			}
		}
		&.align-end {
			.block-editor-block-list__layout {
				justify-content: end;
			}
		}
		&.align-space-between {
			.block-editor-block-list__layout {
				justify-content: space-between;
			}
		}
		&.align-space-around {
			.block-editor-block-list__layout {
				justify-content: space-around;
			}
		}
		&.align-space-evenly {
			.block-editor-block-list__layout {
				justify-content: space-evenly;
			}
		}
	}

	&.is-vertical {
		.block-editor-block-list__layout {
			flex-direction: column;
		}

		flex-direction: column;
		align-items: flex-start;

		.sp-single-button {
			width: 100%;
		}

		&.align-flex-start {
			.block-editor-block-list__layout {
				align-items: flex-start;
			}
		}
		&.align-vertical-center {
			.block-editor-block-list__layout {
				align-items: center;
			}
		}
		&.align-flex-end {
			.block-editor-block-list__layout {
				align-items: flex-end;
			}
		}
	}
}

// inner block inspector style
.inspector-variant-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.btn-label-wrapper {
		display: flex;
		flex-direction: column;
		.btn-container {
			position: relative;
			border: 2px solid rgba(128, 128, 128, 0.66);
			border-radius: 3px;
			padding: 4px;
			a.sp-smart-button {
				width: 100%;
				text-align: center;
				font-size: 10px;
			}
			.selected-icon {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

//inspector input box link style
.sp-not-linked {
	background-color: #fff;
}
.sp-linked {
	background-color: #884ae3 !important;
	svg {
		color: #fff;
	}
}

// fixing rangecontrol style
.components-range-control__root {
	align-items: unset !important;
}

// testing classes
