// inspector styles main block
// alignment toggle

.sp-toggle {
	display: flex;
	width: 100%;
	border: 1px solid #d0d5dd;
	border-radius: 3px;
	padding: 4px;
	background: #fff;
	gap: 4px;
	align-items: center;
	justify-content: space-between;
}

.sp-toggle__btn {
	width: 50%;
	border: 0;
	background: transparent;
	padding: 12px 16px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	color: #111;
}

.sp-toggle__btn.is-active {
	background: #f4ebff;
	color: #6f22dd;
	font-weight: 500;
}

// full width button toggler style

.full-width-button-label {
	font-size: 14px;
	font-weight: 500;
}

.full-width-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;

	.components-form-toggle {
		transform: scale(1.2); // increase size
	}
	.components-form-toggle.is-checked {
		.components-form-toggle__track {
			background-color: #7f56d9;
		}
	}
	.components-form-toggle__track {
		background-color: #e4e7ec;
	}
	.components-form-toggle__thumb {
		background-color: #ffffff;
	}
}
// full width button toggler style

// inspector styles main block end

.wp-block-sp-smart-buttons {
	display: flex;
	gap: 12px;
	width: 100%;
	background-color: #2563eb22;

	/* child button */
	.sp-single-button {
		display: inline-flex;
	}

	.block-editor-inner-blocks {
		width: 100%;
	}
	.block-editor-block-list__layout {
		display: flex;
		width: 100%;
	}

	// horizontal alignment
	&.is-horizontal {
		flex-direction: row;

		&.align-start {
			.block-editor-block-list__layout {
				justify-content: start;
			}
		}
		&.align-horizontal-center {
			.block-editor-block-list__layout {
				justify-content: center;
			}
		}
		&.align-end {
			.block-editor-block-list__layout {
				justify-content: end;
			}
		}
		&.align-space-between {
			.block-editor-block-list__layout {
				justify-content: space-between;
			}
		}
		&.align-space-around {
			.block-editor-block-list__layout {
				justify-content: space-around;
			}
		}
		&.align-space-evenly {
			.block-editor-block-list__layout {
				justify-content: space-evenly;
			}
		}
	}

	&.is-vertical {
		.block-editor-block-list__layout {
			flex-direction: column;
		}

		flex-direction: column;
		align-items: flex-start;

		.sp-single-button {
			width: 100%;
		}

		&.align-flex-start {
			.block-editor-block-list__layout {
				align-items: flex-start;
			}
		}
		&.align-vertical-center {
			.block-editor-block-list__layout {
				align-items: center;
			}
		}
		&.align-flex-end {
			.block-editor-block-list__layout {
				align-items: flex-end;
			}
		}
	}
}

// button design for child.

a.wp-block-smart-button {
	padding: 0.6em 1.2em;
	border-radius: 6px;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	border: 2px solid transparent;
}

/* Variants */
.wp-block-smart-button.is-default {
	background: #2563eb;
	color: white;
}

.wp-block-smart-button.is-gradient {
	background: linear-gradient(
		81deg,
		#ff0035 1.03%,
		#f902cb 45.49%,
		#5d13ff 97.36%
	);
	color: #111;
}

.wp-block-smart-button.is-ghost {
	background: transparent;
	color: #2563eb;
	border: 2px solid #2563eb;
}

// inner block inspector style
.inspector-variant-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	.btn-label-wrapper {
		display: flex;
		flex-direction: column;
		.btn-container {
			position: relative;
			border: 2px solid rgba(128, 128, 128, 0.66);
			border-radius: 3px;
			padding: 4px;
			a.wp-block-smart-button {
				width: 100%;
				text-align: center;
				font-size: 10px;
			}
			.selected-icon {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
