a.sp-single-button {
	padding: 0.6em 1.2em;
	border-radius: 6px;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	// border: 2px solid transparent;
	transition:
		background 0.3s ease,
		color 0.3s ease;
	box-sizing: border-box;
}
