// button design for innerblock.
.inspector-hover-styles {
	.btn-container {
		a.sp-smart-button {
			border-radius: 2px;
		}
	}
}
a.sp-smart-button {
	padding: 0.6em 1.2em;
	border-radius: 6px;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	// border: 2px solid transparent;
	transition:
		background 0.3s ease,
		color 0.3s ease;
	box-sizing: border-box;
}

/* Variants (inspectior) */
span.btn-container,
.inspector-hover-styles-wrapper {
	.sp-smart-button.is-default {
		background: #2563eb;
		color: white;
	}

	.sp-smart-button.is-gradient {
		background: linear-gradient(
			81deg,
			#ff0035 1.03%,
			#f902cb 45.49%,
			#5d13ff 97.36%
		);
		color: #fff;
	}

	.sp-smart-button.is-ghost {
		background: transparent;
		color: #2563eb;
		outline: 2px solid #2563eb;
	}
}

// buttons style (Editor canvas)
.sp-parent {
	.sp-smart-button.is-default {
		background: var(--primary-background);
		color: var(--primary-text-color);
	}

	.sp-smart-button.is-gradient {
		background: linear-gradient(
			81deg,
			#ff0035 1.03%,
			#f902cb 45.49%,
			#5d13ff 97.36%
		);
		color: #fff;
	}

	.sp-smart-button.is-ghost {
		background: transparent;
		color: #2563eb;
		outline: 2px solid #2563eb;
	}
}

.btn-label-wrapper,
.inspector-hover-styles {
	display: flex;
	flex-direction: column;
	.btn-container {
		position: relative;
		border: 2px solid rgba(128, 128, 128, 0.66);
		border-radius: 3px;
		padding: 4px;
		a.sp-smart-button {
			width: 100%;
			text-align: center;
			font-size: 10px;
		}
		.selected-icon {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

// hover styles
.inspector-hover-styles-wrapper,
.inspector-hover-styles {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.inspector-hover-styles {
	flex-direction: column;
	position: relative;
}

// button hover effects
// raise hover
.is-default.is-hover-raise {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
	transition:
		transform 0.4s ease-in-out,
		box-shadow 0.4s ease-in-out;
	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
	}
}
// raise hover

// gradient hover
.block-editor-block-list__block {
	z-index: 0;
}

.is-default.is-hover-gradient {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		inset: -3px;
		background: linear-gradient(49deg, #00f, #f0f);
		filter: blur(10px);
		opacity: 0;
		transition: opacity 0.3s ease;
		z-index: -1;
	}
	&:hover::after {
		opacity: 1;
	}
}

// gradient hover

// shine hover
.sp-parent.has-hover-shine {
	overflow: hidden;
}

.is-default.is-hover-shine {
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		width: 50%;
		height: 95%;
		background: linear-gradient(
			120deg,
			transparent,
			rgba(255, 255, 255, 0.4),
			transparent
		);
		transition: left 0.6s ease;
	}
	&:hover::before {
		left: 150%;
	}
}
// shine hover

// multi layer hover

$color-button-green: #1a75e4c2;
.is-default.is-hover-multi-layers {
	position: relative;
	display: inline-block;
	text-align: center;
	transition: box-shadow 0.4s ease-in-out;
}

.is-default.is-hover-multi-layers:before {
	position: absolute;
	content: "";
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.is-default.is-hover-multi-layers:hover {
	box-shadow:
		7px 7px darken($color-button-green, 20%),
		-7px -7px lighten($color-button-green, 20%);
	cursor: pointer;
	&::before {
		border: 0px;
	}
}
// multi layer hover end

// flip hover
.is-default.is-hover-flip {
	opacity: 1;
	outline: 0;
	color: #fff;
	background-color: transparent !important;
	position: relative;

	&:hover {
		&:after {
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		&:before {
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}

	&:after {
		content: attr(data-text);
		top: 0;
		left: 0;
		opacity: 0;
		background-color: #1a75e4c2;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, height 0.4s ease-in-out;
		position: absolute;
		text-align: center;
		transform: translateY(-50%) rotateX(90deg);
	}
	
	&:before {
		content: attr(data-text);
		top: 0;
		left: 0;
		opacity: 1;
		background-color: #1c4c86;
		border-radius: inherit;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, height 0.4s ease-in-out;
		position: absolute;
		text-align: center;
		transform: translateY(0) rotateX(0);
	}
}
.is-hover-flip .sp-smart-button-inner {
	opacity: 0;
	visibility: hidden;
}

// flip hover
// hover styles end
