.sp-smart-button-gap.sp-control {
	margin-top: 15px;

	.components-range-control__wrapper {
		.components-range-control__track {
			background-color: #884ae3 !important;
		}
		.components-range-control__thumb-wrapper {
			span {
				background-color: #884ae3;
				&::before{
					background-color: #884ae3;
				}
			}
		}
	}

	.sp-smart-button-gap {
		margin-bottom: 16px;
	}

	.sp-smart-button-gap-unit {
		&:hover {
			background: #efe6fb;
		}
		padding: 2px 6px;
		border: 1px solid #d6c2f5;
		border-radius: 2px;
		font-size: 12px;
	}

	.sp-smart-button-gap-range {
		margin-top: 6px;
	}

}
