.sp-smart-button-unit-dropdown {
	position: relative;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
}

.sp-smart-button-unit-value {
	padding: 2px 6px;
	border: 1px solid #d6c2f5;
	border-radius: 2px;
}

.sp-smart-button-unit-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background: #ffffff;
	border: 1px solid #d6c2f5;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	z-index: 20;
	min-width: 100%;
}

.sp-smart-button-unit-item {
	display: block;
	padding: 4px 6px;

	&:hover {
		background: #efe6fb;
        color: #9148ff;
	}
}
