.sp-smart-button-spacing {
	font-size: 12px;
}

.sp-smart-button-spacing-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
}

.sp-smart-button-spacing-label {
	font-weight: 500;
}

.sp-smart-button-spacing-actions {
	display: flex;
	align-items: center;
	gap: 6px;
}

.sp-smart-button-spacing-unit {
	padding: 4px 6px;
	border: 1px solid #dcdcde;
	// border-radius: 2px;
	background: #f6f7f7;
	font-size: 11px;
}

.sp-smart-button-spacing-inputs {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr) auto;
	// gap: 4px;
	align-items: center;
}

.sp-smart-button-spacing-input {
	width: 100%;
	height: 34px !important;
	border: 1px solid #DDD !important;
	border-radius: 2px !important;
	text-align: center;
	font-size: 12px;
	margin: 0;
}

.sp-smart-button-spacing-link {
	padding: 0;
	min-width: 32px !important;
	height: 34px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #dcdcde;
	border-radius: 2px;
	background: #fff;
}
